.app {
  display: flex;
  height: 100vh;
}

.recipient {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--kapta-color-surface);
}

.main {
  flex: 1;
  overflow-y: auto;
  background-color: var(--kapta-color-surface);
  position: relative;
}

.aside {
  border-right: solid 0.5px var(--kapta-color-divider);
  background-color: var(--kapta-color-background);
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100hv;
  /* padding: 10px; */
  z-index: 1001;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-100%);
  /* opacity: 0; */
}

.aside-visible .aside {
  transform: translateX(0);
  /* opacity: 1; */
}

.toggle-btn {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .aside {
    display: block;
    height: 100%;
  }

  .aside.visible {
    transform: translateX(0);
    /*  opacity: 1; */
  }

  .recipient {
    margin-left: 0;
  }

  .toggle-btn {
    display: flex!important;
  }
}

@media screen and (min-width: 769px) {
  .app {
    flex-direction: row;
  }

  .aside {
    position: static;
    transform: none;
    /* opacity: 1; */
  }

  .toggle-btn {
    display: none!important;
  }

  .recipient {
    flex-direction: column;
    /* margin-left: 200px; */
  }
}
