.NewContainer {
  min-width: 250px;
  border: solid;
  max-height: 100px;
  margin: 10px;  
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
