:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Primary color */
  --kapta-color-primary: #523cbd;

  /* Secondary color */
  --kapta-color-secondary: #ca85ff;

  /* Success color */
  --kapta-color-success: #28a745;

  /* Danger color */
  --kapta-color-danger: #dc3545;

  /* Warning color */
  --kapta-color-warning: #ffc107;

  /* Info color */
  --kapta-color-info: #17a2b8;

  /* Neutrals */
/*   --kapta-color-background: #121212;
  --kapta-color-surface: #1e1e1e; */

  --kapta-color-background:#2A2B2C; 
  --kapta-color-surface: #1A1B1C;


  --kapta-color-on-background: #ffffff;
  --kapta-color-on-surface: #e0e0e0;

  /* Accent colors */
  --kapta-color-accent1: #ff4081;
  --kapta-color-accent2: #03dac6;

  /* Text colors */
  --kapta-color-text-primary: #ffffff;
  --kapta-color-text-secondary: #b3b3b3;
  --kapta-color-text-disabled: #616161;

  /* Borders and Dividers */
  --kapta-color-border: #333333;
  --kapta-color-divider: #4d4d4d;

  /* Shadows */
  --kapta-shadow-default: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --kapta-shadow-hover: 0px 8px 12px rgba(0, 0, 0, 0.1);

  /* Font sizes */
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--kapta-color-text-primary);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
